<html>
    <head>
        <title>Answer Survey</title>
    </head>
    <body>
        <h1>Choose your answer</h1>

        <form method="POST">
            <table id="id_show_question" >
                <tr><td> Question </td> <td>choice 1</td> <td>choice 2</td> <td>choice 3</td> <td>choice 4</td> </tr>
                {% for i in showquestion %}
                <tr>
                    <td>{{i.question}}</td>
                    <td><input type="radio" checked ="checked" name="{{i.question}}" value="{{i.choice1}}"> {{i.choice1}} <br></td>
                    <td><input type="radio" name="{{i.question}}" value="{{i.choice2}}"> {{i.choice2}} <br></td>
                    <td><input type="radio" name="{{i.question}}" value="{{i.choice3}}"> {{i.choice3}} <br></td>
                    <td><input type="radio" name="{{i.question}}" value="{{i.choice4}}"> {{i.choice4}} <br></td>
                </tr>
                {% endfor %}
            </table>

            <input type="submit" id="id_nextpage" name="homepage" value="Add_Question">
            <input type="submit" id="id_submit" name="add_answer" value="Submit">
            {% csrf_token %}

        </form>
    </body>
</html>
