<html>
    <head>
        <title>Survey</title>
    </head>
    <body>
        <h1>Create Your Question</h1>
        <form method="POST">
            <input name="question" id="id_question" placeholder="Key a Question" /><br><br>
            <input name="choice_1" id="id_choice_1" placeholder="Key a choice 1" /><br><br>
            <input name="choice_2" id="id_choice_2" placeholder="Key a choice 2" /><br><br>
            <input name="choice_3" id="id_choice_3" placeholder="Key a choice 3" /><br><br>
            <input name="choice_4" id="id_choice_4" placeholder="Key a choice 4" /><br><br>
            <input type="submit" id="id_submit" name="add_survey" value="Submit">
            <input type="submit" id="id_nextpage" name="nextpage" value="Answer">
            {% csrf_token %}

        </form>
    </body>
</html>
