<html>
    <head>
        <title>Result Survey</title>
    </head>
    <body>
        <h1>Result</h1>

        <table id="id_show_question" >
            <tr><td> Question </td> <td>choice 1</td> <td>choice 2</td> <td>choice 3</td> <td>choice 4</td> <td>Time to create question</td> </tr>
            {% for i in showresult %}
            <tr>
                <td>{{i.question}}</td>
                <td>{{i.choice1}} ( {{i.answer1}} )</td> 
                <td>{{i.choice2}} ( {{i.answer2}} )</td> 
                <td>{{i.choice3}} ( {{i.answer3}} )</td> 
                <td>{{i.choice4}} ( {{i.answer4}} )</td>
                <td>{{i.time}}</td>
            </tr>
            {% endfor %}
        </table>

        <form method="POST">
            <input type="submit" id="id_back" name="back" value="Back">
            {% csrf_token %}

        </form>
    </body>
</html>
